[Unit]
Description=Amadeus
After=network.target

[Service]
Type=simple
Environment=DEFAULT_NODE_PATH=/usr/lib64/node_modules
WorkingDirectory=/root/contrib/rust/Amadeus
ExecStart=/bin/bash -c 'NODE_PATH=$DEFAULT_NODE_PATH cargo run --release --features flo'
ExecStop=killall Amadeus

[Install]
WantedBy=multi-user.target