[Unit]
Description=Amadeus
After=network.target
After=multi-user.target
After=Salieri.target

[Service]
Environment="RUSTBERT_CACHE=/data/.rustbert"
Type=simple
User=mawa
Environment=DEFAULT_NODE_PATH=/usr/lib64/node_modules
WorkingDirectory=/data/contrib/rust/Amadeus
ExecStart=/bin/bash -c 'NODE_PATH=$DEFAULT_NODE_PATH cargo run -p amadeus --release --features=trackers,torch'
ExecStop=killall Amadeus

[Install]
WantedBy=multi-user.target
