[Unit]
Description=Salieri
After=network.target
After=multi-user.target
After=rabbitmq.target

[Service]
Environment="RUST_CACHED_PATH_ROOT=/data/.rustbert"
Environment="RUSTBERT_CACHE=/data/.rustbert"
Environment="LIBTORCH_USE_PYTORCH=1"
Environment="LIBTORCH_BYPASS_VERSION_CHECK=1"
Type=simple
User=mawa
WorkingDirectory=/data/contrib/rust/Amadeus
ExecStart=/bin/bash -c 'cargo run -p salieri --release'
ExecStop=killall Salieri

[Install]
WantedBy=multi-user.target
