/target/
/trees/
/cache/
/node_modules/
/nlprule/
package-lock.json

conf.dhall
conf.yml
weekly.yml

# secret commands, tokens and stuff
misc/secret

*.png
*.w3g
*.out
*.hi
*.o
hake

# deepseach models
ds/
